@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

$color-1: #222;
$color-2: #333;
$color-3: #6b7280;
$color-4: #b7604d;
$color-5: #e9ecef;
$color-6: #f8f9fa;
$color-7: #fff;


$font-family: Rubik, sans-serif;

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

$header-height: 80px;
$footer-height: 80px;
